@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gerlach Sans';
  src: url('/client/src/assets/fonts/Sans.ttf') format('truetype');
}

.gerlach-sans {
  font-family: 'Gerlach Sans';
}